<?xml version="1.0"?>  

<launch>
        <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_config)/urdf/youbot-laas.urdf.xacro'"/>
        <node name="gazebo_youbot_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model youBot -x 0 -y 0 -z 0.2" respawn="false" output="screen" />
              
<!-- start gazebo with GUI and load environment -->

  <include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />

  <include file="$(find youbot_description)/launch/control/youbot_arm_control.launch" />


  <include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />


</launch>
        
